<%- include('../partials/head') %>
<%- include('../partials/head') %>


<body class="landing">

    <a href="/users" class="my-page"><i class="fas fa-globe-americas fa-10x" id="landing-globe"></i></a>
    
    
    
    
    
    
    <form method="POST" action="/destinations">
        <select name="country" id="where-to" class="browser-default">
            <option  id="where-select" disabled selected>Where Ya Goin!</option>
            <option>Where Ya Goin</option>
            <%  countries.forEach(function(country) { %>
                <option value="<%= country.name %>"><%= country.name %></option>
                <% }) %>
                    <input type="submit" class="explore" value="Explore">
            </select>
        </form>
    </body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });
</script>