<%- include('../partials/head') %>


<body class="landing">

    <% if (user) { %>

    <a href="/users/<%= user._id %>" class="my-page"><i class="fas fa-globe-americas fa-10x" id="landing-globe"></i></a>
    <% } else { %>
        <a href="/auth/google" class="my-page"><i class="fas fa-globe-americas fa-10x"id="landing-globe"></i></a>
    <% } %>
    

    <div class="landing-title">Where Ya Goin</div>
</body>