<%- include('../partials/head') %>
<nav class="header">
    <div class="nav-wrapper">
        <% if (user) { %>

      <a href="/users/<%= user._id %>" class="my-page"><i class="fas fa-globe-americas fa-3x"></i></a>
      <% } %>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/users/<%= user._id %>/posts/new">New Post</a></li>
        <li><a href="/users/<%= user._id %>/posts">My Posts</a></li>
        <li><a href="/destinations">Where Ya Goin</a></li>

        <% if (user) { %>
        <li><a href="/logout">LogOut</a></li>
        <% } else { %>
        <li><a href="/auth/google">Google LogIn</a></li>
        <% } %>
      </ul>
    </div>
  </nav>

<div class="home-page">
    <div class="home-buttons">


    </div>
</div>