body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.header {
  background-color: rgb(83, 158, 187);
}

.posts {
  height: 55%;
}

.my-page,
.logout,
.login {
  display: inline-block;
}

.my-page {
  line-height: 4;
  margin-left: 1em;
}

#new-post {
  float: right;
  margin-top: .5rem;
}