<%- include('../partials/header') %>

<form method="POST" action="/users/<%= user._id %>/posts">    
<label>New Post:</label>
<label >Title:</label>
<input type="text" name="title">
<label >Body</label>
<input type="text" name="textContent">
<select  name="destination" class="select">
<%  countries.forEach(function(country) { %>
    <option value="<%= country.name %>"><%= country.name %></option>
    <% }) %>
</select>
<input type="submit" value="Save Post">


</form>